@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-image: url("1.jpg");
  background-size: cover;
  color: white;
  font-family: "poppins";
}
/* #cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(19, 18, 18, 0.8);
} */
#phone {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  margin-left: 20px;
  font-family: "Courier New", Courier, monospace;
}

#phone:hover {
  color: rgb(245, 11, 11);
}
#tel {
  display: inline-block;
}
#nav {
  height: 50px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom-style: solid;
  border-color: white;
  border-width: 100%;
  /* background-color: black; */
  background-color: rgba(19, 18, 18, 0.9);

  /* margin-left: 30px;
  margin-right: 30px; */
}
#to_bar {
  font-size: 1.5em;

  display: flex;
  justify-content: space-between;
  margin-right: 60px;
}
.to_bar {
  margin-right: 30px;
}
.to_bar > a {
  color: white;
  text-decoration: none;
  /* margin-left: 70px; */
}
.to_bar a:hover {
  color: rgb(245, 11, 11);
  border-bottom-style: solid;
  border-color: white;
  zoom: calc(0.8);
}
#h1 {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* background-color: rgba(19, 18, 18, 0.9); */
  margin-top: 0;
  background-color: black;
  opacity: 0.8;

  font-family: "poppins", sans-serif;
  padding-top: 25px;
}
#am {
  display: inline-block;
  font-size: 60px;
  font-weight: 400px;
  padding-top: 0;
  margin-top: 0;
}
.list {
  margin-top: 0;
  margin-left: 5px;
  line-height: 90px;
  height: 90px;
  overflow: hidden;
}

.list li {
  list-style: none;
  color: rgb(195, 39, 39);
  font-weight: bold;
  font-size: 50px;
  font-weight: 400px;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -360px;
  }
}
.list li::after {
  content: "";
  position: absolute;
  left: 0;
  /* background-color: rgba(19, 18, 18, 0.9); */
  height: 100%;
  background-color: black;

  width: 100%;
  border-left: 2px solid rgb(195, 39, 39);
  animation: typing 3s steps(29) infinite;
}
@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}
#cover {
  height: 30px;
  width: 100%;
  background-color: black;
  opacity: 0.8;

  /* background-color: rgba(19, 18, 18, 0.9); */
}
#about1 {
  color: rgb(195, 39, 39);

  /* color: rgb(195, 39, 39); */
  text-align: center;
  font-size: 3em;
  margin-bottom: 0;
  /* background-color: black; */

  background-color: rgba(19, 18, 18, 0.9);
  margin-left: 30px;
  margin-top: 200px;
  margin-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}
#about {
  /* background-color: black; */

  background-color: rgba(19, 18, 18, 0.9);
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  height: 400px;
  padding-bottom: 200px;
  /* color: rgb(195, 39, 39); */
}
#profile-picture {
  margin-right: 40px;
  position: relative;
  border-radius: 50%;
  display: inline-block;

  height: 100%;
  width: 30%;
  text-align: center;
  overflow: hidden;
}
#info {
  display: flex;
  align-items: center;
  width: 30%;
  text-align: center;
  margin-left: 40px;
}
#louis img {
  display: inline-block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
#profile-info {
  /* display: inline-block; */
  position: absolute;
  top: 0;
  left: 0;
}
#profile-picture:hover #pcover {
  /* background-color: black; */

  background-color: rgba(19, 18, 18, 0.5);
}
#profile-picture:hover .profile-info {
  transform: translateX(0);
  transition: 1s;
}
.profile-info {
  position: relative;
  text-align: justify;
  padding-top: 10px;

  top: 220px;
  left: 80px;
  transform: translateX(500px);
  padding-left: 0px;
  margin-left: 0;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
#pcover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
span {
  margin-left: 50px;
}
h1 {
  /* text-align: center; */
  /* background-color: rgba(19, 18, 18, 0.9); */
  margin: 0;
  background-color: black;
  opacity: 0.8;

  padding-left: 30px;
  padding-top: 20px;
}
#edu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: black; */

  background-color: rgba(19, 18, 18, 0.8);
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 30px;
  padding-right: 30px;
  height: 80vh;
}
strong {
  padding-right: 30px;
}
.address {
  margin-top: 20px;
}
#edu1 {
  color: rgb(195, 39, 39);

  text-align: center;
  font-size: 3em;
  /* background-color: black; */

  background-color: rgba(19, 18, 18, 0.8);
  padding-top: 40px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 0;
  border-top-style: solid;
}
h4 {
  padding-left: 40px;
}
#exp {
  display: flex;
  justify-content: space-around;
  /* background-color: black; */

  background-color: rgba(19, 18, 18, 0.9);
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 30px;
  padding-right: 30px;
  height: 50vh;
}
#exp1 {
  border-top-style: solid;

  color: rgb(195, 39, 39);

  text-align: center;
  font-size: 3em;
  background-color: rgba(19, 18, 18, 0.9);
  padding: 70px;
  margin-right: 30px;
  margin-left: 30px;
  /* background-color: black; */
}
#ask1 {
  color: rgb(195, 39, 39);

  text-align: center;
  font-size: 3em;
  background-color: rgba(19, 18, 18, 0.8);
  padding: 70px;
  margin-right: 30px;
  margin-left: 30px;
  /* background-color: black; */
}
#ask {
  text-align: center;
  background-color: rgba(19, 18, 18, 0.8);
  /* background-color: black; */

  margin-left: 30px;
  margin-right: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 60px;
}

#footer {
  /* position: absolute;
  bottom: 58px;
  left: 0;
  right: 0; */
  width: 100%;
  color: black;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;

  /* margin-left: 40px;
  margin-right: 40px; */
  background-image: url("fifa_23_cover.jpeg");
}
#first {
  display: inline-block;
  width: 35%;
  margin-right: 30px;
  margin-left: 30px;
  height: 100%;
}
#second {
  display: inline-block;
  width: 30%;
  height: 100%;
}
#third {
  display: inline-block;
  margin-right: 50px;
  width: 20%;
  height: 100%;
}
#last {
  display: inline-block;
  width: 20%;
  height: 100%;
  margin-right: 20px;
}
#social-media {
  display: inline-block;
  margin-top: 10px;
  margin-left: 40px;
}
.social {
  display: inline-block;
  padding-right: 20px;
}
.social:hover {
  cursor: pointer;
}
a:hover {
  color: rgba(210, 73, 91, 255);
}
h3 {
  text-align: center;
  margin-right: 100px;
}
textarea {
  background-color: rgba(213, 147, 94, 0.3);
  border-color: (210, 73, 91, 255);
}
input {
  background-color: rgba(213, 147, 94, 0.3);
  border-color: brown;
  border-width: 0.02em;
}
#copyright {
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0; */

  text-align: center;
  margin-top: 0px;
  padding: 10px;
  padding-top: 20;
  margin-bottom: 0px;
  background-color: rgba(13, 12, 12, 0.8);
}
#second ul {
  margin-left: 70px;
}
#back {
  background-color: blanchedalmond;
  opacity: 0.8;
  text-align: center;
  height: 70px;
  padding-top: 30px;
  font-weight: bold;
  border-color: brown;
}
#back a {
  color: black;
}
