#top {
  color: green;
  text-align: center;
}
#middle {
  margin-left: 30%;
  margin-right: 30%;
}
#bottom {
  margin-left: 30%;
  margin-right: 30%;
}
hr {
  margin-bottom: 0px;
  padding: 0px;
}

#span {
  margin-top: 0px;
  border-top: 5px solid rgb(248, 216, 36);

  padding: 20px;
  border-top-width: 1px;
  background: linear-gradient(180deg, rgb(231, 231, 171), rgb(233, 235, 217));
}
a {
  color: green;
}

#ref {
  color: brown;
  margin-bottom: 0px;
  margin-top: 0px;
}

p a {
  text-decoration: none;
  color: rgb(56, 173, 173);
}

#img_label {
  color: gray;
  text-align: center;
}
footer {
  text-align: center;
  margin-top: 30px;
  color: gray;
}
#featured {
  border-left-style: solid;

  border-color: orange;
  padding-left: 5px;
}
